/*
font-family:'Neue Haas Unica W01 UltraLight';
font-family:'Neue Haas Unica W01 Ult1492664';
font-family:'Neue Haas Unica W01 Thin';
font-family:'Neue Haas Unica W01 Thi1492562';
font-family:'Neue Haas Unica W01 Light';
font-family:'Neue Haas Unica W01 Lig1492560';
font-family:'Neue Haas Unica W01 Regular';
font-family:'Neue Haas Unica W01 Hea1492559';
font-family:'Neue Haas Unica W01 Medium It';
font-family:'Neue Haas Unica W01 Medium It';
ont-family:'Neue Haas Unica W01 Med 1492561';
font-family:'Neue Haas Unica W01 Bold';
font-family:'Neue Haas Unica W01 Bol1492557';
font-family:'Neue Haas Unica W01 Heavy';
font-family:'Neue Haas Unica W01 Hea1492558';
font-family:'Neue Haas Unica W01 Black';
font-family:'Neue Haas Unica W01 Bla1492556';
font-family:'Neue Haas Unica W01 ExtraBlack';
font-family:'Neue Haas Unica W01 Thi1492563';
*/
/*
@font-face {
    font-family: 'NeueHaasUnicaPro-Italic';
    src: url("../fonts/NeueHaasUnica/2E689C_0_0.eot");
    src: url("../fonts/NeueHaasUnica/2E689C_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasUnica/2E689C_0_0.woff2") format("woff2"), url("../fonts/NeueHaasUnica/2E689C_0_0.woff") format("woff"), url("../fonts/NeueHaasUnica/2E689C_0_0.ttf") format("truetype")
}

@font-face {
    font-family: 'Neue Haas Unica W01 Light';
    src: url("../fonts/NeueHaasUnica/2E689C_1_0.eot");
    src: url("../fonts/NeueHaasUnica/2E689C_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasUnica/2E689C_1_0.woff2") format("woff2"), url("../fonts/NeueHaasUnica/2E689C_1_0.woff") format("woff"), url("../fonts/NeueHaasUnica/2E689C_1_0.ttf") format("truetype")
}

@font-face {
    font-family: 'Neue Haas Unica W01 Medium It';
    src: url("../fonts/NeueHaasUnica/2E689C_2_0.eot");
    src: url("../fonts/NeueHaasUnica/2E689C_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasUnica/2E689C_2_0.woff2") format("woff2"), url("../fonts/NeueHaasUnica/2E689C_2_0.woff") format("woff"), url("../fonts/NeueHaasUnica/2E689C_2_0.ttf") format("truetype")
}

@font-face {
    font-family: 'Neue Haas Unica W01 Regular';
    src: url("../fonts/NeueHaasUnica/2E689C_4_0.eot");
    src: url("../fonts/NeueHaasUnica/2E689C_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasUnica/2E689C_4_0.woff2") format("woff2"), url("../fonts/NeueHaasUnica/2E689C_4_0.woff") format("woff"), url("../fonts/NeueHaasUnica/2E689C_4_0.ttf") format("truetype")
}

@font-face {
    font-family: 'Neue Haas Unica W01 Thin';
    src: url("../fonts/NeueHaasUnica/2E689C_5_0.eot");
    src: url("../fonts/NeueHaasUnica/2E689C_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasUnica/2E689C_5_0.woff2") format("woff2"), url("../fonts/NeueHaasUnica/2E689C_5_0.woff") format("woff"), url("../fonts/NeueHaasUnica/2E689C_5_0.ttf") format("truetype")
}
*/
#corpLP {
    font-family: 'Neue Haas Unica W01 Regular', sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center top;
    text-align: center;
    a:focus, button:focus{
        text-decoration: none;
        outline: 0;
    }
    .navbar-default {
        background-color: rgba(1, 23, 52, 0.5);
        border: none;
        min-height: 80px;
        @media (max-width: 767px){
            min-height: 65px; 
        }
        .navbar-header {
            float: inherit;
            width: 100%;
            max-width: 300px;
            margin: 0 auto !important;
        }
        svg{
            width: 100%;
            @media (max-width: 767px){
                width: 85%;
            }
        }
    }
    .container{
        max-width: 767px
    }
    .insideCnt{
        padding-top:2%; 
    }
    h1{
        font-weight: 100;
        font-size: 32px;
        b{
            display: block;
        }
    }
    h2{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        margin-top: 15px;
    }
    .textForm{
        max-width: 450px;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 16px;
    }
    .couponForm{
        // max-width: 400px;
        margin: 35px auto 0;
        input{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box; 
            box-sizing: border-box;
            border-radius: 0;
            box-shadow: none;
            border: none;
            height: 40px;
        }
        .checkbox{
            text-align: left;
            input{
                height: auto;
            }
            a{
                color: #ffffff;
                font-weight: 800;
                &:hover{
                    color: #ffffff;

                }
            }
        }
        .alertRow{
            text-align: left;
            color: #ff6328;
            font-style: italic;
            font-size: 13px;
            margin-bottom: 10px;
        }
    }
    hr{
        max-width: 50px;
        margin: 40px auto;
    }
    .btnLP {
            background-color: transparent;
            border: 1px solid #FFFFFF;
            min-width: 200px;
            padding: 15px;
            letter-spacing: 5px;
            font-size: 12px;
            font-weight: 600;
            margin-top: 20px;
            overflow: hidden;
            &:hover{
                background: rgba(255, 255, 255, 0.2);
                border-color: rgba(255, 255, 255, 0.5);
            }
            &:before{
               position: absolute;
                height: 100%;
                font-size: 125%;
                line-height: 3.5;
                color: #fff;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                left: 70%;
                opacity: 0;
                top: -2.5px; 
            }
            &:hover:before {
                left: 80%;
                opacity: 1;
            }
            span{
                font-family: 'Neue Haas Unica W01 Regular', sans-serif;;
            }
        }
    #errorModal, #successModal{
        .modal-content{
            background-color: rgb(35, 60, 85);
            border-radius: 0;
            .close {
                margin-top: -24px;
                opacity: .8;
                span {
                    color: #fff;
                    text-shadow: none;
                    font-weight: 100;
                }
            }
            .modal-header{
                border-bottom:none;
                padding-top: 35px;
                h4{
                    font-size: 18px;
                    font-weight: 100;
                    text-transform: uppercase;
                    b{
                        display: block;
                        font-size: 25px;
                    }
                }
                h3{
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
            .modal-body {
                padding: 0 15px;
                font-size: 12px;
                b{
                    font-size: 20px;
                    display: block;
                    margin-bottom: 20px;
                }
            }
            .modal-footer {
                border-top: none;
                text-align: center;
                padding: 0 15px 35px;   
            }
        }
        
    }
}




